* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 6rem 1rem;
  font-size: var(--step-0);
  font-weight: 500;
}

h1 {
  font-size: var(--step-7);
  font-weight: bold;
}

h2 {
  font-size: var(--step-4);
  font-weight: 600;
  max-width: 35ch;
}

h3 {
  font-size: var(--step-3);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--step-2);
}

ul[role='list'] {
    text-align: left;
}

li + li {
  margin-block-start: var(--space-2xs);
}

p {
    max-width: 60ch;
}
