h1 {
  font-size: var(--step-4);
  max-width: 20ch;
}

h2 {
  font-size: var(--step-3);
  max-width: 35ch;
}

h3 {
  font-size: var(--step-2);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--step-2);
}

ul ::marker {
  font-size: 0.8lh;
}

ol ::marker {
  font-size: 1em;
  font-weight: var(--font-bold);
}

[role='list'][class],
[role='tablist'][class] {
  margin-block: 0;
  padding: 0;
}
