* {
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 5rem 1rem;
}

h1 {
  font-size: var(--step-4);
  max-width: 20ch;
}

h2 {
  font-size: var(--step-3);
  max-width: 35ch;
}

h3 {
  font-size: var(--step-2);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--step-2);
}

ul[role='list'] {
    text-align: left;
}

li + li {
  margin-block-start: var(--space-xs);
}

p {
    max-width: 27ch;
}
