ul {
    padding-inline-start: var(--space-xs);
    position: relative;
    max-width: fit-content;
}

ul::before {
    content: '';
    width: var(--space-3xs);
    height: 100%;
    background-color: lightgray;
    position: absolute;
    left: 0;
    top: 0;
}
