.button {
    border: none;
    border-radius: var(--space-2xs);
    color: var(--color-dark);
    background-color: #ffe8e8;
    padding: var(--space-xs) var(--space-s);
    font-size: var(--step-1);
    font-weight: 600;
    transition: transform 0.7s var(--bounce-sharp);
    position: relative;
    overflow: hidden;
}

.button:hover {
    transform: scale(115%);
}

.button::before {
    top: 0%;
    left: -6%;
    --blob-color: #c003ff;
    --blob-opacity: 18%;
}

.button::after {
    bottom: -15%;
    right: 5%;
    --blob-color: var(--color-primary);
    --blob-opacity: 18%;
}
