.main-wrapper {
    --wrapper-max-width: 750px;
    text-align: center;
    --gutter: var(--space-xl);
    --flow-space: var(--space-3xl);
}

.main-wrapper p {
    max-width: 27ch;
}

.main-wrapper * {
    margin-inline: auto;
}

:is(h1, h2, h3, h4, h5, h6) + * {
    display: block;
}

.main-wrapper {
    font-size: var(--step-1);
}

.main-wrapper::before {
    content: '';
    width: 35%;
    height: 85%;
    background-color: #FF8603;
    border-radius: 36% 64% 82% 18% / 79% 29% 71% 21%;
    position: fixed;
    left: -5%;
    top: -20%;
    opacity: 15%;
    z-index: 1;
}

.main-wrapper::after {
    content: '';
    width: 35%;
    height: 85%;
    background-color: #FF0346;
    border-radius: 71% 29% 18% 82% / 22% 80% 20% 78%;
    position: fixed;
    right: -10%;
    top: 10%;
    opacity: 10%;
    z-index: 1;
}
