.main-wrapper {
    --wrapper-max-width: 500px;
    text-align: center;
    --gutter: var(--space-xl);
    --flow-space: var(--space-l)
}

.main-wrapper p {
    max-width: 27ch;
}

.main-wrapper * {
    margin-inline: auto;
}
