.main-wrapper {
    --wrapper-max-width: 750px;
    text-align: center;
    --gutter: var(--space-xl);
    --flow-space: var(--space-3xl);
}

.main-wrapper p {
    max-width: 27ch;
}

.main-wrapper * {
    margin-inline: auto;
}

:is(h1, h2, h3, h4, h5, h6) + * {
    display: block;
}

.main-wrapper {
    font-size: var(--step-1);
}
