---
import "../styles/complete.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="wrapper main-wrapper flow">
		<section class="flow">
			<h1>
				Hi! I'm
				<svg class="inline-text-svg" role="img" aria-label="Ola" viewBox="0 0 164 89" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M68.9773 45.8115C68.9773 54.5067 67.4874 62.0958 64.5075 68.5791C61.6039 74.9861 57.669 79.982 52.7027 83.5668C47.7361 87.1516 42.1202 88.9441 35.855 88.9441C29.2076 88.9441 23.1715 87.2279 17.7467 83.7956C12.3217 80.287 8.00478 75.4056 4.79569 69.1512C1.66302 62.8967 0.0966797 55.6127 0.0966797 47.2989C0.0966797 40.9682 0.975362 34.9426 2.73271 29.2221C4.56648 23.5016 7.0879 18.4295 10.297 14.0055C13.5061 9.58164 17.1736 6.11126 21.2996 3.59424C25.5018 1.00089 29.9335 -0.2957 34.5943 -0.2957C39.4079 -0.2957 43.8777 0.848398 48.0037 3.1366C52.2059 5.34847 55.8734 8.51387 59.0062 12.6326C62.1388 16.7514 64.5838 21.6329 66.3412 27.2771C68.0985 32.9213 68.9773 39.0994 68.9773 45.8115ZM54.3072 45.8115C54.3072 38.7944 53.5431 32.4256 52.015 26.7051C50.5632 20.9846 48.3856 16.4462 45.4823 13.0903C42.5787 9.7343 38.9495 8.05623 34.5943 8.05623C31.6145 8.05623 28.902 9.20033 26.457 11.4885C24.0119 13.7004 21.9108 16.7133 20.1535 20.5269C18.4725 24.2644 17.1353 28.4593 16.1421 33.112C15.2252 37.7647 14.7668 42.4936 14.7668 47.2989C14.7668 53.8583 15.6072 59.6932 17.2882 64.8036C18.969 69.8376 21.3759 73.8039 24.5086 76.7022C27.7177 79.5244 31.4998 80.9354 35.855 80.9354C39.6753 80.9354 42.9608 79.41 45.7115 76.359C48.4621 73.2318 50.5632 68.9987 52.015 63.6595C53.5431 58.3203 54.3072 52.371 54.3072 45.8115ZM81.0668 4.73834C81.0668 3.67057 81.5634 2.75529 82.5568 1.9925C83.6264 1.22971 84.8871 0.848397 86.3389 0.848397H90.121C91.5726 0.848397 92.7952 1.22971 93.7885 1.9925C94.7817 2.75529 95.2785 3.67057 95.2785 4.73834V85.0542C95.2785 86.1219 94.7817 87.0372 93.7885 87.8C92.7952 88.5628 91.5726 88.9441 90.121 88.9441H86.3389C84.8871 88.9441 83.6264 88.5628 82.5568 87.8C81.5634 87.0372 81.0668 86.1219 81.0668 85.0542V4.73834ZM127.878 88.9441C122.988 88.9441 118.824 87.6856 115.385 85.1686C112.023 82.5752 109.426 79.0285 107.592 74.5284C105.834 70.0284 104.956 64.8799 104.956 59.0831C104.956 53.3626 105.987 48.1761 108.05 43.5233C110.19 38.8706 113.131 35.1714 116.875 32.4256C120.619 29.6797 125.012 28.3068 130.055 28.3068C136.626 28.3068 142.089 29.7178 146.445 32.54C150.8 35.2858 154.047 38.8706 156.186 43.2945C158.326 47.7184 159.395 52.4092 159.395 57.3669C159.395 57.6721 159.395 57.9771 159.395 58.2822C159.93 63.3926 160.542 68.0451 161.229 72.2402C161.917 76.359 162.605 79.7913 163.292 82.5371C163.369 82.766 163.407 83.0711 163.407 83.4524C163.407 85.7406 162.223 87.0755 159.854 87.4568L153.321 88.2576C151.182 88.4865 149.845 87.6093 149.31 85.6262C149.004 84.4058 148.737 83.1473 148.508 81.8507C145.91 84.0625 142.892 85.8169 139.453 87.1135C136.015 88.334 132.157 88.9441 127.878 88.9441ZM127.878 82.0795C131.622 82.0795 134.716 80.8591 137.161 78.4184C139.606 75.9014 141.44 72.736 142.662 68.9223C143.961 65.1087 144.611 61.1805 144.611 57.1381C144.611 57.0618 144.611 56.9093 144.611 56.6805C144.535 56.2992 144.496 55.8796 144.496 55.422C144.496 55.0407 144.496 54.6974 144.496 54.3923C144.267 51.0363 143.579 47.909 142.433 45.0107C141.287 42.036 139.683 39.6715 137.62 37.9172C135.557 36.0867 133.035 35.1714 130.055 35.1714C128.451 35.1714 126.846 36.3536 125.242 38.7181C123.637 41.0063 122.3 43.981 121.23 47.6421C120.161 51.3032 119.626 55.1168 119.626 59.0831C119.626 63.0494 120.046 66.7866 120.887 70.2953C121.727 73.8039 122.797 76.6642 124.096 78.876C125.395 81.0117 126.655 82.0795 127.878 82.0795Z" fill="black"/>
					<path d="M20.6887 19.571C20.6475 17.9934 19.9789 16.5047 18.8185 15.4325C17.6589 14.3605 16.1026 13.7929 14.5033 13.8544C12.9042 13.9158 11.3962 14.6012 10.3226 15.7591C9.24831 16.917 8.69631 18.4527 8.77674 20.029C8.86252 21.7207 8.95797 23.4147 9.06654 25.1133C9.7068 33.1572 9.89846 40.7921 12.6915 49.8528L12.7639 50.0517C14.2768 53.7116 15.6227 57.0341 17.834 60.9381C22.5444 68.0463 27.9439 72.8238 35.3737 76.4746C41.4401 79.3942 49.0299 79.5467 53.9407 79.029C55.3142 78.9911 55.8681 78.7324 56.4201 78.5488C56.9526 78.3478 57.3269 78.1635 57.6941 77.9725C58.3965 77.6012 58.9544 77.2433 59.4854 76.8853C60.5365 76.1703 61.444 75.459 62.3301 74.727C64.1081 73.2286 65.6485 71.8678 67.4213 69.858C68.7683 68.2617 70.0559 66.6996 71.3565 65.1256C72.4249 63.831 73.4908 62.536 74.553 61.2426C75.3382 60.2853 75.7108 59.0482 75.5954 57.8089C75.4796 56.5693 74.8852 55.4291 73.9363 54.6335C72.9874 53.8377 71.7598 53.4503 70.5166 53.5503C69.2739 53.6507 68.1174 54.2306 67.3085 55.168C66.2236 56.4251 65.1275 57.6921 64.0347 58.9524C62.7103 60.4778 61.3665 62.0283 60.0643 63.4961C59.09 64.5566 57.5156 65.9494 56.1008 67.0649C55.3791 67.6332 54.6451 68.1721 53.9738 68.6026C53.6429 68.8149 53.3202 69.0011 53.1073 69.1029C53.0031 69.1539 52.9259 69.1806 52.963 69.1626C53.0284 69.1546 53.0889 69.0419 53.9407 69.0096C47.823 69.3966 43.8828 68.9783 39.8343 67.0455C34.9979 64.6788 29.951 59.8251 27.3146 55.4726C25.9124 52.8776 24.4644 49.2635 23.2362 46.0267L23.3085 46.2256C21.5698 40.2615 21.1902 32.0517 20.8486 24.5047C20.7841 22.8637 20.7318 21.2192 20.6887 19.571Z" fill="black"/>
					<path d="M6.7936 58.9196C5.87471 55.8239 6.603 39.2356 8.22949 28.2128C9.85598 17.1898 13.5055 11.4467 13.5055 11.4467" stroke="black" stroke-width="6" stroke-linecap="round"/>
				</svg>
			</h1>
			<p class="text-step-2">I create websites that are intuitive to use and fun to look at.</p>
		</section>
		<section class="flow stack-medium">
			<h2>My interests</h2>
			<ul role="list" class="bar-list">
				<li>Front-end development</li>
				<li>Accessibility</li>
				<li>User interface design</li>
				<li>User experience</li>
			</ul>
		</section>
		<section class="flow stack-small">
			<h2 class="text-step-1">Email me at:</h2>
			<p>hi@ola.hn</p>
		</section>
	</div>
</Layout>

<style>
	.inline-text-svg {
		height: 1.2cap;
	}
</style>
