---
import "../styles/complete.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="wrapper main-wrapper cluster">
		<section class="flow prose">
			<h1>Hi! I'm Ola</h1>
			<p>I create websites that are intuitive to use and fun to look at.</p>
		</section>
		<section class="flow prose">
			<h2>My interests</h2>
			<ul role="list" class="bar-list">
				<li>Front-end development</li>
				<li>Accessibility</li>
				<li>User interface design</li>
				<li>User experience</li>
			</ul>
		</section>
		<section class="flow prose">
			<h3>Email me at:</h3>
			<p>hi@ola.hn</p>
		</section>
	</div>
</Layout>
