---
import "../styles/complete.css";
import Layout from "../layouts/Layout.astro";
import LocationIcon from "../assets/location.svg";
import BrandName from "../assets/brand-name.svg";
---

<Layout>
	<div class="wrapper main-wrapper flow">
		<section class="flow">
			<h1>
				Hi! I'm
				<BrandName class="inline-text-svg" role="img" aria-label="Ola" />
			</h1>
			<p class="text-step-2">I create <span class="font-semibold">websites</span> that are <span class="font-semibold">intuitive</span> to use and <span class="font-semibold">fun</span> to look at.</p>
		</section>
		<section class="flow stack-medium">
			<h2>I'm interested in</h2>
			<ul role="list" class="bar-list">
				<li>Front-end development</li>
				<li>Accessibility</li>
				<li>User interface design</li>
				<li>User experience</li>
			</ul>
		</section>
		<section class="flow stack-medium">
			<h2>I'm based in</h2>
			<LocationIcon class="location-icon-svg" role="img" aria-label="Eiffel Tower" />
			<p>Paris, France</p>
		</section>
		<section class="flow stack-medium">
			<h2>Find me on</h2>
			<a href="#">LinkedIn</a>
		</section>
		<section class="flow stack-medium">
			<h2>Email me at</h2>
			<a href="#">hi@ola.hn</a>
		</section>
	</div>
</Layout>

<style>
	.inline-text-svg {
		height: 1.2cap;
	}

	.location-icon-svg {
		height: 6em;
		width: 6em;
	}
</style>
